<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <script src="/public/js/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap-theme.css">
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/angular.min.js"></script>
    <script src="/public/js/angular-route.min.js"></script>
    <script src="/controllers/login.js"></script>
</head>
<body background="/public/img/login-backgroud.jpg" style="background-size: cover">
    <div class="container" ng-controller="MainCtrl" ng-app='login'>
        <div class="row"><img src="/public/img/login-icon.png" class="center-block"></div>
        <div class="row" ng-switch on="x.mode">
            <div class="col-md-2"></div>
            <div class="col-md-8" ng-switch-when="login">
                <form role="form">
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <label for="loginUsername">User Name:</label>
                            <input type="text" class="form-control" id="loginUsername" ng-model="user.loginName">
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <label for="loginPassword">Password:</label>
                            <input type="password" class="form-control" id="loginPassword" ng-model="user.loginPassword">
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"><button class="btn btn-primary" ng-click="checkUser(user)">Login</button></div>
                        <div class="col-md-3"><a ng-click="x.mode='register'">No Account Yet?</a></div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
            </div>
            <div class="col-md-8" ng-switch-when="register">
                <form role="form">
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <label for="registerUsername">User Name:</label>
                            <input type="text" class="form-control" id="registerUsername" ng-model="user.registerName">
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <label for="registerPassword">Password:</label>
                            <input type="password" class="form-control" id="registerPassword" ng-model="user.registerPassword">
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"><button class="btn btn-primary" ng-click="createUser(user)">Register</button></div>
                        <div class="col-md-3"><a ng-click="x.mode='login'">Go Login?</a></div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
</html>