<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>SSNOC Team A2</title>
    <!-- Path to Framework7 Library CSS, iOS Theme -->
    <link rel="stylesheet" href="/public/framework7/css/framework7.ios.min.css">
    <!-- Path to Framework7 color related styles, iOS Theme -->
    <!--<link rel="stylesheet" href="/public/framework7/css/framework7.ios.colors.min.css">-->
    <!-- Path to your custom app styles-->
    <!--<link rel="stylesheet" href="/public/framework7/css/my-app.css">-->
    <!--<link rel="stylesheet" href="/public/framework7/css/framework7.material.min.css">-->
    <!-- It should be included After main Framework7 styles -->
    <link rel="stylesheet" href="/public/framework7/css/framework7.material.colors.min.css">

    <link rel="stylesheet" href="/public/stylesheets/angular-chart.min.css">
</head>
<body ng-controller="RoomController">

    <!-- Right panel -->
    <div class="panel panel-left panel-reveal" ng-controller="SidePanelController">
        <div class="content-block">
            <p>Current User: <span ng-bind="username" id="current_username"></span></p>
            <!-- Click on link with "close-panel" class will close panel -->
            <p><a href="#" class="close-panel" ng-click="openPage('public_chat')">Public Chat</a></p>
            <p><a href="#" ng-click="logout()">Logout</a></p>
            <p><a href="#" ng-click="openPage('about')" class="close-panel" >About</a></p>
            <p><a href="#" class="close-panel" ng-click="openPage('announcements')">Announcements</a></p>
            <p><a href="#" class="close-panel" ng-click="openPage('search')">Search</a></p>
	        <p><a href="#" class="close-panel" ng-click="openPage('dashboard')">Dashboard</a></p>
	    <p><a href="#" class="close-panel" ng-click="openPage('test')">System Test</a></p>
	    <p><a href="#" class="close-panel" ng-click="openPage('map')">Map </a></p>
            <p><a href="#" class="close-panel" ng-click="openPage('createRoom')">Create Room</a></p>
            <p><a href="#" class="close-panel" ng-click="openPage('profile')">Profile</a></p>
            <div class="content-block-title">All Rooms</div>
            <div class="list-block">
                <ul style="backgroud: #222">
                    <a ng-repeat="room in rooms" href="#" class="item-link close-panel" ng-click="openRoom(room)">
                        <li class="item-content">
                            <div class="item-media"><i class="icon icon-bars" ng-class="{
                                'color-green': room.isMember,
                                'color-orange': room.isAdmin,
                                'color-red': room.isCreator
                                }"></i></div>
                            <div class="item-inner">
                                <div class="item-title" ng-bind="room.roomname"></div>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
            <div class="content-block-title">All Users</div>
            <div class="list-block">
                <ul style="background: #111">
                    <a ng-repeat="u in users" href="#" class="item-link close-panel" ng-click="openPrivateChat(u)">
                        <li class="item-content">
                            <div class="item-media"><i class="icon icon-bars" ng-class="{
                                'color-green': u.lastStatusCode=='GREEN',
                                'color-red': u.lastStatusCode=='RED',
                                'color-orange': u.lastStatusCode=='YELLOW'
                            }" ></i></div>
                            <div class="item-inner">
                                <div class="item-title" ng-bind="u.username"
                                     ng-class="{'color-white':u.online, 'color-gray':!u.online}">Item title</div>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <!-- LOGIN Page -->
    <div class="login-screen">
        <!-- Default view-page layout -->
        <div class="view">
            <div class="page" ng-controller="LoginController">
                <!-- page-content has additional login-screen content -->
                <div class="page-content login-screen-content">
                    <div class="login-screen-title">My App</div>
                    <!-- Login form -->
                    <form>
                        <div class="list-block">
                            <ul>
                                <li class="item-content">
                                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="text" name="username" placeholder="Username" ng-model="user.name">
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <div class="item-media"><i class="icon icon-form-password"></i></div>
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="password" name="password" placeholder="Password" ng-model="user.password">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list-block">
                            <ul>
                                <li>
                                    <a href="#" class="item-link list-button" ng-click="login(user)">Sign In</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Status selection list -->
    <!-- Status selection list -->
    <div class="popover popover-links">
        <div class="popover-angle"></div>
        <div class="popover-inner" ng-controller="StatusPopoverController">
            <div class="list-block">
                <ul>
                  <li><a href="#" class="list-button item-link" ng-click="select('GREEN')">GREEN</a></li>
                  <li><a href="#" class="list-button item-link" ng-click="select('YELLOW')">YELLOW</a></li>
                  <li><a href="#" class="list-button item-link" ng-click="select('RED')">RED</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <!-- Views -->
    <div class="views">
        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main">

            <!-- Top Navbar-->
            <div class="navbar" ng-controller="NavbarController">
                <div class="navbar-inner">
                    <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                    <div class="left">
                        <a href="#" ng-if="!isPagePushed" class="open-panel link icon-only" ng-click="clickNav()">
                            <i class="icon icon-bars"></i>
                        </a>
                        <a href="#" ng-if="isPagePushed" class="link icon-only" ng-click="clickBack()">
                            <i class="icon icon-back"></i>
                        </a>
                    </div>
                    <div class="center sliding">Public Chat</div>
                    <div class="right" data-page="users">
                        <a href="#" data-popover=".popover-links" ng-show="!showProfileLink()"
                           class="link open-popover" ng-bind="currentStatus"></a>
                        <a href="#" ng-show="showProfileLink()" ng-click="openProfilePage()">Profile</a>
                    </div>
                </div>
            </div>


            <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
            <div class="pages navbar-through toolbar-through">
                <!-- Page, "data-page" contains page name -->
                <div data-page="public_chat" class="page" ng-controller="PublicChatController">
                    <!-- messagebar -->
                    <div class="toolbar messagebar">
                        <div class="toolbar-inner">
                            <input style="display:none;" type='file' accept="image/*" id="cameraInput1" name="cameraInputname">
                            <a href="#" id="sendPhoto" ng-click="sendImage(imagesrc)" class="link icon-only"><i class="icon icon-camera"></i></a>
                            <textarea placeholder="Message" ng-model="post" ng-keyup="keyUp($event, post)"></textarea>
                            <a href="#" class="link" ng-click="sendMessage(post)" ng-disabled="post.trim()==''">Send</a>
                        </div>
                    </div>
                    <!-- Scrollable page content -->
                    <div class="page-content">
                        <div class="messages" id="public_messages">
                        </div>
                    </div>
                </div>

                <div data-page="private_chat" class="page cached" ng-controller="PrivateChatController">
                    <!-- messagebar -->
                    <div class="toolbar messagebar">
                        <div class="toolbar-inner">
                            <input style="display:none;" type='file' accept="image/*" id="cameraInput2" name="cameraInputname">
                            <a href="#" id="sendPhoto" ng-click="sendImage(imagesrc)" class="link icon-only"><i class="icon icon-camera"></i></a>
                            <textarea placeholder="Message" ng-model="post" ng-keyup="keyUp($event, post)"></textarea>
                            <a href="#" class="link" ng-click="sendMessage(post)" ng-disabled="post.trim()==''">Send</a>
                        </div>
                    </div>
                    <!-- Scrollable page content -->
                    <div class="page-content">
                        <div class="messages" id="private_messages">
                        </div>
                    </div>
                </div>

                <style>

                  #map{
                  position: fixed;
                  width:100%;
                  height:100%;
                  }

                </style>

                <div data-page="map" class="page cached">
		                <div class="page-content">
                            <img src="map.png" id="map" >
                            <a href="#" ng-click="openPage('about')" class="close-page" >
                                <div id="markerdiv"></div>
                            </a>
                      <!-- todo add map and scale
                           figure out transform to map coordiantes 
                            -->
                        </div>
                </div>

                <div data-page="about" class="page cached">
                    <div class="page-content">
                        <h1>Welecome to Our SSNoC</h1>
                        <p>
                            We call it Survivable Social Network on a Chip, or SSNoC.
                            Imagine that a natural disaster struck your neighborhood. There is a blackout - no electricity. The cellular network is down. You have a mobile phone,  but you can’t use it. Most of your neighbors have smartphones, which are now useless.  Power and cellular service may be restored soon, but in the meantime you wish to touch base with your neighbors, exchange information with them, ask for help, and tell them you’re ok. What do you do?
                            You plug in the SSNoC to a battery pack, which powers up and instantly creates a small wifi network. It has limited range, but it will do for now.
                            Your neighbors can connect to SSNoC wifi through their smartphones, fire up their mobile browser, sign up on the SSNoC, and start sharing and receiving information.
                            They should not need to download an app to access SSNoC. Well, there is no internet, no cellular service, no power, nothing.
                        </p>
                    </div>
                </div>

                <div data-page="announcements" class="page cached" ng-controller="AnnouncementController">
                    <!-- messagebar -->
                    <div class="toolbar messagebar">
                        <div class="toolbar-inner">
                            <textarea placeholder="Announcement" ng-model="newAnnouncement"></textarea>
                            <a href="#" class="link" ng-click="postAnnouncement(newAnnouncement)"
                               ng-disabled="post.trim()==''">Send</a>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="card" ng-repeat="announcement in announcements">
                            <div class="card-header">{{announcement.author}}</div>
                            <div class="card-content" style="word-wrap: break-word;">
                                <div class="card-content-inner">{{announcement.content}}</div>
                            </div>
                            <div class="card-footer">{{announcement.dateFormat}}</div>
                        </div>
                    </div>
                </div>

                <!-- system Test -->
                <div data-page="test" class="page" ng-controller="TestController">
                    <div class="page-content">
                        <div class="content-block-title">System Test</div>
                        <div class="list-block">
                            <ul>

                                <li id="search_keyword_li">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">Test Duration (seconds):</div>
                                               <div class="item-input">
                                                 <input type="text" id="duration" ng-model="keyword" placeholder="1">
                                               </div>
                                        </div>
				                    </div>
                                </li>

                                <li id="search_keyword_li">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">Request Interval (miliseconds):</div>
                                               <div class="item-input">
                                                 <input type="text" id="interval" ng-model="interval" placeholder="100">
                                               </div>
					                    </div>
				                    </div>
                                </li>
                                <a href="#" class="button button-big button-fill"
                                    ng-click="onClickTestButton()">Search Now!</a>
                            </ul>
                        </div>
                    </div>
                </div>

                <div data-page="search" class="page cached" ng-controller="SearchController">
                    <div class="page-content">
                        <div class="content-block-title">Labels and inputs</div>
                        <div class="list-block">
                            <ul>
                                <li id="search_keyword_li">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">Keyword:</div>
                                            <div class="item-input">
                                                <input type="text" ng-model="keyword" placeholder="Search Criteria">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li id="search_status_li">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">Status:</div>
                                            <div class="item-input">
                                                <a href="#" id="status_for_search">GREEN</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">Context:</div>
                                            <div class="item-input">
                                                <a href="#" id="search_context">UserName</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- Select -->
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">Display</div>
                                            <div class="item-input">
                                                <a href="#" id="search_display_num">10</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <a href="#" class="button button-big button-fill"
                           ng-click="onClickSearchButton()">Search Now!</a>
                    </div>
                </div>

                <div data-page="createRoom" class="page cached" ng-controller="CreateRoomController">
                    <div class="page-content">
                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">Room Name:</div>
                                            <div class="item-input">
                                                <input type="text" ng-model="roomname" placeholder="Room name">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="content-block">
                            <a href="#" class="button" ng-click="createRoom(roomname)">Create!</a>
                        </div>
                    </div>
                </div>

                <div data-page="room_chat" class="page cached">
                    <!-- messagebar -->
                    <div class="toolbar messagebar">
                        <div class="toolbar-inner">
                            <textarea placeholder="Message" ng-model="rmsg" ng-keyup="rKeyUp($event, rmsg)"></textarea>
                            <a href="#" class="link" ng-click="rmsgPost(rmsg)" ng-disabled="rmsg.trim()==''">Send</a>
                        </div>
                    </div>
                    <!-- Scrollable page content -->
                    <div class="page-content">
                        <div class="list-block" style="position: fixed; width: 30%">
                            <ul>
                                <li class="item-content open-popup" ng-if="currentRoom.isCreator"
                                    data-popup=".popup-addUsers" ng-click="updateUserList()">
                                    <div class="item-inner">
                                        <div class="item-title">Invite</div>
                                    </div>
                                </li>
                                <li class="item-content" ng-if="currentRoom.isCreator" ng-click="close()">
                                    <div class="item-inner">
                                        <div class="item-title">Close</div>
                                    </div>
                                </li>
                                <li class="item-content" ng-if="currentRoom.isMember" ng-click="leave()">
                                    <div class="item-inner">
                                        <div class="item-title">Leave</div>
                                    </div>
                                </li>
                                <li class="item-content" ng-repeat="mem in members">
                                    <div class="item-inner" ng-click="remove(mem)">
                                        <div class="item-title" ng-bind="mem.username"></div>
                                        <div class="item-after" ng-if="mem.isCreator">Administrator</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="messages col-70" style="width: 68%; margin-left: 32%" id="room_messages">
                        </div>
                    </div>
                </div>

                <div data-page="search_results" class="page cached" ng-controller="SearchResultsController">
                    <div class="page-content">
                        <div class="content-block-title">Search Results ({{ results.length }} items) </div>
                        <div class="list-block media-list" ng-if="isMediaList">
                            <ul>
                                <li ng-repeat="m in results">
                                    <a href="#" class="item-link item-content" ng-click="showDetailMesssage(m)">
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title" ng-bind="m.sender"></div>
                                                <div class="item-after" ng-bind="m.time"></div>
                                            </div>
                                            <div class="item-text" ng-bind="m.content"></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="list-block" ng-if="!isMediaList">
                            <ul>
                                <li class="item-content" ng-repeat="u in results">
                                    <div class="item-media"><i class="icon icon-bars" ng-class="{
                                        'color-green': u.lastStatusCode=='GREEN',
                                        'color-red': u.lastStatusCode=='RED',
                                        'color-orange': u.lastStatusCode=='YELLOW'}"></i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title"
                                             ng-class="{'color-black': u.online,
                                                        'color-gray': !u.online}"
                                             ng-bind="u.username"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- About Popup -->
                <div class="popup popup-search-msg">
                    <div class="content-block">
                        <p><a href="#" class="close-popup">Close popup</a></p>
                        <p class="full-search-msg"></p>
                    </div>
                </div>

                <div data-page="dashboard" class="page cached" ng-controller="DashboardController">
                    <div class="page-content">
                        <div>Request Frequency</div>
                        <select id="function" ng-model="type" ng-change="selectChange()">
                            <option value="ALL">ALL</option>
                            <option value="/users">/users</option>
                            <option value="/messages/public">/message/public</option>
                            <option value="/messages/private">/message/private</option>
                            <option value="/announcements">/anouncements</option>
                            <option value="/search">/search</option>
                        </select>
                        <canvas id="line" class="chart chart-line" chart-data="line_data"
                        chart-labels="line_labels" chart-legend="true" chart-series="line_series">
                        </canvas>

                        <div>Request Amount</div>
                        <canvas id="bar" class="chart chart-bar"
                        chart-data="bar_data" chart-labels="bar_labels"
                        chart-series="bar_series">
                        </canvas>

                        <div>Request Radio</div>
                        <canvas id="pie" class="chart chart-pie"
                        chart-data="pie_data" chart-labels="pie_labels">
                        </canvas>
                    </div>
                </div>

                <div data-page="profile" class="page cached" ng-controller="ProfileController">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-33">
                                <img ng-src="{{ profile.avatar }}"
                                     style="width:100px; height:100px; margin:10px auto; display: block;" />
                            </div>
                            <div class="col-66">
                                <h1 ng-bind="profile.username"></h1>
                                <div style="font-size:16px;">Status:{{ profile.status }}</div>
                            </div>
                        </div>

                        <form id="profile-form" class="list-block" style="margin:4px;">
                            <ul>
                                <li ng-repeat="item in profileItems">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label color-deeppurple" ng-bind="item.field"></div>
                                            <div class="item-input" ng-bind="item.value"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>

                        <div class="content-block">
                            <a href="#" class="button button-big button-fill bg-deeppurple"
                               ng-click="openEditPage()"
                               ng-show="editable">Edit</a>
                        </div>
                    </div>
                </div>

                <div data-page="edit_profile" class="page cached" ng-controller="EditProfileController">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-33">
                                <img ng-src="{{ profile.avatar }}"
                                     style="width:100px; height:100px; margin:10px auto; display: block;" />
                                <input style="display:none;" type='file' accept="image/*" id="uploadAvatarInput" name="cameraInputname">
                            </div>
                            <div class="col-66">
                                <h1 ng-bind="profile.username"></h1>
                                <div><a href="#" class="button button-fill color-green"
                                        ng-click="onClickUploadAvatar()"
                                        style="width: 150px;">Upload Avatar</a></div>
                            </div>
                        </div>
                        <form  id="edit-profile-form" class="list-block" style="margin:4px;">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label color-deeppurple">age</div>
                                            <div class="item-input">
                                                <input type="text" min="1" max="100" ng-model="profile.age"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label color-deeppurple">gender</div>
                                            <div class="item-input">
                                                <a href="#" id="gender-selector" ng-bind="getGenderText()">Not selected</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label color-deeppurple">company</div>
                                            <div class="item-input">
                                                <input type="text" ng-model="profile.company"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label color-deeppurple">twitter</div>
                                            <div class="item-input">
                                                <input type="text" ng-model="profile.twitter"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label color-deeppurple">phone</div>
                                            <div class="item-input">
                                                <input type="text" ng-model="profile.phone"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label color-deeppurple">email</div>
                                            <div class="item-input">
                                                <input type="text" ng-model="profile.email"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>

                        <div class="buttons-row">
                            <button class="button button-big button-fill bg-deeppurple" style="margin:4px;"
                                    ng-click="submit()">OK</button>

                            <button class="button button-big button-fill bg-deeppurple" style="margin:4px;"
                                    ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup popup-addUsers">
        <div class="content-block">
            <p>Choose the user you want to add:</p>
            <p ng-repeat="usr in allUsers">
                <a href="#" class="close-popup" ng-click="addUser(usr)">{{usr.username}}</a>
            </p>
        </div>
    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="/public/framework7/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="/public/js/Chart.js"></script>
    <script type="text/javascript" src="/public/js/angular.min.js"></script>
    <script type="text/javascript" src="/public/js/angular-chart.min.js"></script>
    <script type="text/javascript" src="/public/js/socket.io.js"></script>

    <script type="text/javascript" src="/public/js/config.js"></script>
    <script type="text/javascript" src="/public/js/service/BootService.js"></script>
    <script type="text/javascript" src="/public/js/service/UserService.js"></script>
    <script type="text/javascript" src="/public/js/service/MessageService.js"></script>
    <script type="text/javascript" src="/public/js/service/RoomService.js"></script>
    <script type="text/javascript" src="/public/js/controller/LoginController.js"></script>
    <script type="text/javascript" src="/public/js/controller/NavbarController.js"></script>
    <script type="text/javascript" src="/public/js/controller/PublicChatController.js"></script>
    <script type="text/javascript" src="/public/js/controller/SidePanelController.js"></script>
    <script type="text/javascript" src="/public/js/controller/PrivateChatController.js"></script>
    <script type="text/javascript" src="/public/js/controller/StatusPopoverController.js"></script>
    <script type="text/javascript" src="/public/js/controller/AnnouncementController.js"></script>
    <script type="text/javascript" src="/public/js/controller/SearchController.js"></script>
    <script type="text/javascript" src="/public/js/controller/SearchResultsController.js"></script>
    <script type="text/javascript" src="/public/js/controller/TestController.js"></script>
    <script type="text/javascript" src="/public/js/controller/DashboardController.js"></script>
    <script type="text/javascript" src="/public/js/controller/MapController.js"></script>
    <script type="text/javascript" src="/public/js/controller/CreateRoomController.js"></script>
    <script type="text/javascript" src="/public/js/controller/RoomController.js"></script>
    <script type="text/javascript" src="/public/js/controller/ProfileController.js"></script>
    <script type="text/javascript" src="/public/js/controller/EditProfileController.js"></script>
</body>
</html>
