<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>My App</title>
    <!-- Path to Framework7 Library CSS, iOS Theme -->
    <link rel="stylesheet" href="/public/framework7/css/framework7.ios.min.css">
    <!-- Path to Framework7 color related styles, iOS Theme -->
    <link rel="stylesheet" href="/public/framework7/css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="/public/framework7/css/my-app.css">
</head>
<body>

    <!-- Right panel -->
    <div class="panel panel-left panel-reveal" ng-controller="SidePanelController">
        <div class="content-block">
            <p>Current User: <span ng-bind="username"></span></p>
            <!-- Click on link with "close-panel" class will close panel -->
            <p><a href="#" class="close-panel" ng-click="openPage('public_chat')">Public Chat</a></p>
            <p><a href="#" ng-click="logout()">Logout</a></p>
            <p><a href="#" ng-click="openPage('about')" class="close-panel" >About</a></p>
            <p><a href="#announcements" class="close-panel" ng-click="openAnnouncement()">Announcements</a></p>

            <div class="content-block-title">All Users</div>
            <div class="list-block">
                <ul style="background: #111">
                    <a ng-repeat="u in users" href="#" class="item-link close-panel" ng-click="openPrivateChat(u)">
                        <li class="item-content">
                            <div class="item-media"><i class="icon icon-f7"></i></div>
                            <div class="item-inner">
                                <div class="item-title" ng-bind="u.username">Item title</div>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <!-- LOGIN Page -->
    <div class="login-screen">
        <!-- Default view-page layout -->
        <div class="view">
            <div class="page" ng-controller="LoginController">
                <!-- page-content has additional login-screen content -->
                <div class="page-content login-screen-content">
                    <div class="login-screen-title">My App</div>
                    <!-- Login form -->
                    <form>
                        <div class="list-block">
                            <ul>
                                <li class="item-content">
                                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="text" name="username" placeholder="Username" ng-model="user.name">
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content">
                                    <div class="item-media"><i class="icon icon-form-password"></i></div>
                                    <div class="item-inner">
                                        <div class="item-input">
                                            <input type="password" name="password" placeholder="Password" ng-model="user.password">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list-block">
                            <ul>
                                <li>
                                    <a href="#" class="item-link list-button" ng-click="login(user)">Sign In</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Status selection list -->
    <div class="statusbar-overlay"></div>
    <div class="popover popover-menu modal-in" style="display: block; top: 312px; left: 130px;">
        <div class="popover-angle on-bottom" style="left: 201px;"></div>
        <div class="popover-inner">
            <div class="list-block">
                <ul>
                    <li><a href="#" class="list-button item-link">RED</a></li>
                    <li><a href="#" class="list-button item-link">GREEN</a></li>
                    <li><a href="#" class="list-button item-link">YELLO</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <!-- Views -->
    <div class="views">
        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main">

            <!-- Top Navbar-->
            <div class="navbar" ng-controller="NavbarController">
                <div class="navbar-inner">
                    <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                    <div class="left">
                        <a href="#" class="open-panel link icon-only" ng-click="clickNav()">
                            <i class="icon icon-bars"></i>
                        </a>
                    </div>
                    <div class="center sliding" ng-bind="navbarTitle">Public Chat</div>
                    <div class="right">
                        <a href="#" data-popover=".popover-menu" class="open-popover link">
                            status
                        </a>
                    </div>
                </div>
            </div>


            <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
            <div class="pages navbar-through toolbar-through">
                <!-- Page, "data-page" contains page name -->
                <div data-page="public_chat" class="page" ng-controller="PublicChatController">
                    <!-- messagebar -->
                    <div class="toolbar messagebar">
                        <div class="toolbar-inner">
                            <textarea placeholder="Message" ng-model="post" ng-keyup="keyUp($event, post)"></textarea>
                            <a href="#" class="link" ng-click="sendMessage(post)" ng-disabled="post.trim()==''">Send</a>
                        </div>
                    </div>
                    <!-- Scrollable page content -->
                    <div class="page-content">
                        <div class="messages" id="public_messages">
                        </div>
                    </div>
                </div>

                <div data-page="private_chat" class="page cached" ng-controller="PrivateChatController">
                    <!-- messagebar -->
                    <div class="toolbar messagebar">
                        <div class="toolbar-inner">
                            <textarea placeholder="Message" ng-model="post" ng-keyup="keyUp($event, post)"></textarea>
                            <a href="#" class="link" ng-click="sendMessage(post)" ng-disabled="post.trim()==''">Send</a>
                        </div>
                    </div>
                    <!-- Scrollable page content -->
                    <div class="page-content">
                        <div class="messages" id="private_messages">
                        </div>
                    </div>
                </div>


                <div data-page="about" class="page cached">
                    <div class="page-content">
                        <h1>Survivable Social Network</h1>
                        <p>
                            We call it Survivable Social Network on a Chip, or SSNoC.
                            Imagine that a natural disaster struck your neighborhood. There is a blackout - no electricity. The cellular network is down. You have a mobile phone,  but you can’t use it. Most of your neighbors have smartphones, which are now useless.  Power and cellular service may be restored soon, but in the meantime you wish to touch base with your neighbors, exchange information with them, ask for help, and tell them you’re ok. What do you do?
                            You plug in the SSNoC to a battery pack, which powers up and instantly creates a small wifi network. It has limited range, but it will do for now.
                            Your neighbors can connect to SSNoC wifi through their smartphones, fire up their mobile browser, sign up on the SSNoC, and start sharing and receiving information.
                            They should not need to download an app to access SSNoC. Well, there is no internet, no cellular service, no power, nothing.
                        </p>
                    </div>
                </div>

                <div data-page="announcements" class="page cached" ng-controller="AnnouncementController">
                    <!-- messagebar -->
                    <div class="toolbar messagebar">
                        <div class="toolbar-inner">
                            <textarea placeholder="Announcement" ng-model="newAnnouncement"></textarea>
                            <a href="#" class="link" ng-click="postAnnouncement(newAnnouncement)" ng-disabled="post.trim()==''">Send</a>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="card" ng-repeat="announcement in announcements">
                            <div class="card-header">{{announcement.author}}</div>
                            <div class="card-content" style="word-wrap: break-word;"><div class="card-content-inner">{{announcement.content}}</div></div>
                            <div class="card-footer">{{announcement.timestamp}}</div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="/public/framework7/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script src="/public/js/angular.min.js"></script>
    <script src="/public/js/socket.io.js"></script>
    <script type="text/javascript" src="/public/js/config.js"></script>
    <script type="text/javascript" src="/public/js/service/BootService.js"></script>
    <script type="text/javascript" src="/public/js/service/UserService.js"></script>
    <script type="text/javascript" src="/public/js/service/MessageService.js"></script>
    <script type="text/javascript" src="/public/js/controller/LoginController.js"></script>
    <script type="text/javascript" src="/public/js/controller/NavbarController.js"></script>
    <script type="text/javascript" src="/public/js/controller/PublicChatController.js"></script>
    <script type="text/javascript" src="/public/js/controller/SidePanelController.js"></script>
    <script type="text/javascript" src="/public/js/controller/PrivateChatController.js"></script>
    <script type="text/javascript" src="/public/js/controller/AnnouncementController.js"></script>
</body>
</html>

